@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kv0o9b');
  src:  url('fonts/icomoon.eot?kv0o9b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kv0o9b') format('truetype'),
    url('fonts/icomoon.woff?kv0o9b') format('woff'),
    url('fonts/icomoon.svg?kv0o9b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-arrow:before{
    content: "\e903";
}

.icon-keyboard_arrow_up:before {
  content: "\e900";
}
.icon-keyboard_arrow_right:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-keyboard_arrow_down:before {
  content: "\e903";
}
.icon-arrow_drop_up:before {
  content: "\e904";
}
.icon-arrow_drop_down:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-linkedin2:before {
  content: "\eaca";
}

