span.error-span {
  display: block;
  width: 100%;
  margin: 0 15px 10px 15px;
  color: red;
  font-size: 12px;
  text-align: left;
  clear: both;
  text-transform: uppercase;
}

.error-input-field {
  border-bottom: 1px solid red;
}

.error-addr-input-field {
  outline: red solid 1px;
}

#form_list .main-submit{
    background: #002550;
    position: relative;
    top: auto;
    bottom: auto;
    float: right;
    left: auto;
    width: auto;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    padding: 10px 40px;
    filter: alpha(opacity=100);
    opacity: 1;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    outline:solid 2px #002550;
    text-transform: uppercase;
    border: none;
}

sup.required {
  color: red;
  font-size: 12px;
}

sup.required::after {
  content: "\2217";
}

p#required-instruct {
  margin: 20px 0;
  font-weight: bold;
}

span.section-label {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #006ff1;
  margin: 20px 0;
}

div.section-title {
  padding-left: 15px;
}

div.section-title h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

div.member-img-wrapper {
  margin:10px 0;
}

section.our-team {
  margin-bottom: 80px;
}

p.how-we-move {
  line-height: 120%;
  font-size: 22px;
}

div.countups {
  margin-bottom: 70px;
}

section.our-clients {
  margin-bottom: 50px;
}

.counter-icon-div {
  display:inline-block;
  width:80px;
  margin-right:5px;
  vertical-align:middle;
  text-align: center;
}

.counter-icon-div i {
  color:#006ff1;
}

.counter-display-div {
  display:inline-block;
  vertical-align:middle;
  width:160px;
}

.counter-display-div h1 {
  margin-bottom:0;
  color:##343434;
  font-size:60px;
  font-weight:800;
  text-align: center;
  width: 100%;
}

.counter-display-div span {
  font-size:18px;
  color:#868686;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.counters-row > div {
  margin: 15px 0;
}

/* so, 1199 & below */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .counter-icon-div {
      width: 100%;
    }

    .counter-display-div, .counter-display-div * {
      width: 100%;
    }
}

/*.our-badge {
  height: 400px;
  margin: auto;
}*/

.member-img-wrapper img {
    display: block;
}

.member-img-wrapper div {
    position: relative;
    max-width: 270px;
}

.member-img-wrapper p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .85);
  color: #fff;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.primary {
  background-color: #592020;
}