/*Responsive css*/
@media (max-width: 1600px) {
    body {
        overflow-x: hidden;
    }

    .desk-nav {
        padding-top: 0;
    }

    .desk-nav #brand img {
        padding: 13px 0;
        max-width: 180px;
    }

    .contact-brand-right,
    .contact-brand-left {
        padding: 60px;
        min-height: 450px;

    }

    #banner .feature-image {
        max-width: 490px;
        bottom: 200px;
    }

    .select-option select {
        height: 50px;
    }

    input,
    .single-form input,
    select {
        height: 50px;
        line-height: 50px;
    }

    .single-form {
        width: 290px;
    }

    .get-btn a {
        font-size: 18px;
        padding: 12px 0 10px 0;
    }


    .view-number input,
    .view-number button {
        font-size: 18px;
        height: 50px;
    }

    ::-webkit-input-placeholder {
        font-size: 18px !important;
    }

    :-moz-placeholder {

        font-size: 18px !important;
    }

    ::-moz-placeholder {

        font-size: 18px !important;
    }

    :-ms-input-placeholder {

        font-size: 18px !important;
    }


    /*.our-process-area*/
    .our-process-area {
        padding-top: 0;
        /* margin-top: -50px; */
    }

    .single-process-img img {
        max-width: 90%;
    }

    .banner-area {
        overflow-x: hidden;
    }

    #banner .feature-image svg#home_feature_arrows,
    #banner .feature-image img#home_feature_arrows {
        max-width: 330px;
    }

    .company-logo {
        left: -30px;
        top: -90px;
        max-width: 200px;
    }

    .moving-left {
        padding: 120px 25px 40px 30px;
    }

    .logos-slider {
        padding-left: 50px;
        padding-right: 50px;
    }

    /*Sliders*/
    .logos-slider .slick-left {
        left: 0;
    }

    .logos-slider .slick-right {
        right: 0;
    }

    .logo-slider-area .slick-arrow img {
        max-width: 30px;
    }

    .processed-area a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .social-icon img {
        max-width: 50px !important;
    }

    .touch-inner-right img {
        max-width: 250px;
    }

    .touch-inner-right h2 {
        color: #FF0000;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .touch-inner-left {
        max-width: 62%;
    }

    .touch-inner-left {
        padding-right: 30px;
    }




    /*Fonst size
    ==========================*/
    .touch-inner-right a,
    .touch-inner-right h4,
    .service-text p,
    .touch-inner-left p,
    .processed-area a,
    .tab-content label,
    .tabbable-line>.nav-tabs>li>a,
    .test-slider-inner p,
    .team-slider a,
    .moving-left-inner p,
    .desk-nav ul.navbar-menu li a,
    .single-form input,
    .select-option select {
        font-size: 18px;
    }

    .service-text h2,
    .started-text a,
    .processed-area p,
    .single-counter-text h5,
    .moving-left-inner h4,
    .single-process-text h3 {
        font-size: 21px;
    }

    .touch-inner-right h2,
    .moving-left-inner h3,
    .banner-text h3 {
        font-size: 30px;
    }

    .processed-area h4,
    .title h2,
    .single-counter-text h1 {
        font-size: 33px;
    }

    .processed-area h2,
    .awsome-area h4 {
        font-size: 37px;
    }

    .logo-slider-area .slick-slide img {
        max-height: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-slider-area .slick-slide {
        text-align: center;
        max-height: 250px;
    }

    .tab-content .moving-to .width-250 {
        width: 180px;
    }

    .tab-content .moving-to .width-auto {
        width: calc(100% - 180px);
    }
}




@media (max-width: 1199px) {
    .single-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .get-btn {
        margin-top: 0;
        padding-right: 0;
    }

    .view-number input {
        width: calc(100% - 158px);
    }

    .touch-inner-left {
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .touch-inner-right {
        float: none;
        margin-top: 40px;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 0;
        overflow: hidden;
        clear: both;
    }

    .select-option {
        padding-right: 5px;
    }

    .test-slider .slick-arrow {
        margin-top: 0;
    }

    .test-slider .slick-left {
        left: 0;
    }

    .test-slider .slick-right {
        right: 0;
    }

    .test-slider {
        padding-left: 50px;
        padding-right: 50px;
    }

    /*    .single-form {
        width: 100%;
        margin-right: 0;
        display: block;
    }*/

    .touch-inner-right a,
    .touch-inner-right h4,
    .service-text p,
    .touch-inner-left p,
    .processed-area a,
    .tab-content label,
    .tabbable-line>.nav-tabs>li>a,
    .test-slider-inner p,
    .team-slider a,
    .moving-left-inner p,
    .desk-nav ul.navbar-menu li a,
    .single-form input,
    .select-option select {
        font-size: 15px;
    }

    .touch-inner-right h2,
    .moving-left-inner h3,
    .banner-text h3 {
        font-size: 26px;
    }

    .contact-brand-right,
    .contact-brand-left {
        padding: 30px 15px;
        min-height: 450px;
    }
}

@media (max-width: 991px) {
    .brand-bar img {
        max-width: 100px;
    }

    #banner .feature-image {
        max-width: 310px;
        bottom: 370px;
    }

    .single-process-img {
        position: relative;
        margin-bottom: 30px;
        left: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    }

    .single-process-img img {
        position: unset;
        bottom: unset;
    }

    #banner .feature-image svg#home_feature_arrows,
    #banner .feature-image img#home_feature_arrows {
        max-width: 190px;
    }

    .single-process {
        width: 50%;
        display: inline-block;
        float: left;
        text-align: center;
        margin-bottom: 30px;
    }

    .single-process:last-child {
        width: 100%;
    }

    .single-process-img {
        height: auto;
    }

    .test-slider-inner p {
        line-height: 1.5;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tabbable-line>.nav-tabs>li {
        width: 50%;
    }

    .tab-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .processed-area h4,
    .title h2,
    .single-counter-text h1 {
        font-size: 27px;
    }

    .processed-area h2,
    .awsome-area h4 {
        font-size: 26px;
    }

    ::-webkit-input-placeholder {
        font-size: 14px !important;
    }

    :-moz-placeholder {

        font-size: 14px !important;
    }

    ::-moz-placeholder {

        font-size: 14px !important;
    }

    :-ms-input-placeholder {

        font-size: 14px !important;
    }

    .team-slider-area {
        padding: 0 50px;
    }

    .logo-slider-area .slick-right {
        right: 0;
    }

    .logo-slider-area .slick-left {
        left: 0;
    }

    .single-inventory {
        padding-left: 20px;
    }

    .move-living {
        padding-left: 15px;
    }

}

@media (max-width: 767px) {

    .service-text h2,
    .started-text a,
    .processed-area p,
    .single-counter-text h5,
    .moving-left-inner h4,
    .single-process-text h3 {
        font-size: 18px;
    }

    .brand-area-3:after,
    .brand-area-2:after,
    .brand-area-4:before,
    .brand-area:before {
        width: 100%;
    }

    .brand-area-3:before {
        background: #dc3545;
    }

    .brand-area-2:before {
        background: #dc3545;
    }

    .brand-area-4:after {
        background: #592020;
    }

    .brand-area:after {
        background: #592020;
    }

    .brand-area-3:before,
    .brand-area-2:before,
    .brand-area-4:after,
    .brand-area:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .85;
    }


    .service-text,
    .brand-area-3,
    .brand-area-2,
    .brand-area-4,
    .brand-area {
        position: relative;
        z-index: 10;
    }

    .service-area {
        padding-top: 50px;
    }

    .single-counter {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .counter-area {
        padding: 50px 0;
    }


    .test-slider .slick-right,
    .test-slider .slick-left {
        width: 30px;
    }

    .test-slider-inner h2 {
        font-size: 18px;
    }

    #banner .feature-image {
        max-width: 310px;
        bottom: 0;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }

    .banner-area {
        padding-bottom: 80px;
    }

    .our-process-area {
        margin-top: -30px;
    }

    .moving-left {
        width: 100%;
    }

    .moving-right {
        width: 100%;
        display: block;
        z-index: 1;
        opacity: .2;
        /*position: relative;*/
    }

    .moving-left-inner {
        position: relative;
        z-index: 10;
    }

    .company-logo {}

    .company-logo {
        position: absolute;
        left: 50%;
        top: -106px;
        max-width: 100px;
        text-align: center;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .our-process-area {
        padding-bottom: 30px;
    }
}

@media (max-width: 570px) {
    .tabbable-line>.nav-tabs>li {
        width: 100%;
    }

    .tabbable-line>.nav-tabs>li:hover a,
    .tabbable-line>.nav-tabs>li a.active {
        border-bottom: 1px solid #028bce;
    }

    .tabbable-line>.nav-tabs>li a {
        padding: 8px 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .submit-btn-right.nav.nav-tabs {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
    }

    .submit-btn-left {
        margin-bottom: 15px;
        text-align: center;
        display: block;
        width: 100%;
        float: none;
    }

    .submit-btn button {
        width: 100%;
    }

    .test-slider {
        padding-left: 20px;
        padding-right: 20px;
    }

    .team-slider-area {
        padding: 0 100px;
    }

    label[for="apartment3"] {
        display: none;
    }

    .single-process {
        width: 100%;
    }

    .tab-content .moving-to .width-250 {
        width: 100%;
    }

    .tab-content .moving-to .width-auto {
        width: 100%;
    }

    .width-auto,
    .width-equal {
        margin-bottom: 1rem;
        width: 100%;
    }

    .width-equal:last-child {
        margin-bottom: 0;
    }

    .border-right-0 {
        border-right: 1px solid #ddd !important;
    }

    .border-left-0 {
        border-left: 1px solid #ddd !important;
    }

    #banner .feature-image svg#home_feature_arrows,
    #banner .feature-image img#home_feature_arrows {
        top: -27px;
    }

    .touch-inner-right h2,
    .moving-left-inner h3,
    .banner-text h3 {
        font-size: 18px;
    }

    .moving-left-inner h3 {
        margin-bottom: 10px;
    }

    .moving-left {
        padding-left: 15px;
        padding-right: 15px;
    }

    .processed-area a {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .processed-area {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 380px) {
    .team-slider-area {
        padding: 0 50px;
    }
}