/*!=========================================================*
* Developer:    Nazmul Hussain
* Developer URL: http://www.nazmul.info
* Developer URL: http://www.codewraps.com
=============================================================*/
@font-face {
    font-family: 'GothamRounded';
    src: url('../fonts/GothamRounded-Medium.eot');
    src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('../fonts/GothamRounded-Medium.woff') format('woff'),
        url('../fonts/GothamRounded-Medium.ttf') format('truetype'),
        url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/*===========================================================
 Common CSS
============================================================*/

body {
    font-size: 13px;
    font-family: 'GothamRounded';
    font-weight: 500;
    color: #000;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}


li,
li:hover,
a:hover,
.btn,
.btn:hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    text-decoration: none !important;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 700;
}

u {
    border-bottom: 1px solid #fff;
    line-height: 1;
    text-decoration: unset;
}

.cboth {
    overflow: hidden;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

select {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 15px;
}

/*Select*/
.banner-text .select-option select {
    background: url("../images/select-arrow.png");
    background-repeat: no-repeat;
    background-position: 98.5% 20px;
}

/*===========================================================
 Placeholder Style
============================================================*/

::-webkit-input-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}

:-moz-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}

::-moz-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}

:-ms-input-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}



.tab-content ::-webkit-input-placeholder {

    color: #7f7f7f;
    font-size: 15px;
    font-weight: 300;
}

.tab-content :-moz-placeholder {

    color: #7f7f7f;
    font-size: 15px;
    font-weight: 300;
}

.tab-content ::-moz-placeholder {

    color: #7f7f7f;
    font-size: 15px;
    font-weight: 300;
}

.tab-content :-ms-input-placeholder {

    color: #7f7f7f;
    font-size: 15px;
    font-weight: 300;
}


/*===========================================================
Preloader CSS
============================================================*/
.spinner-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: #fff;
}

.spinner {
    background-color: #065e52;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 9999999;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

/*===========================================================
 Scroll Animate
============================================================*/

.js .animate-box {
    opacity: 0;
}

/*===========================================================
 Scroll To Top
============================================================*/

.go-top {
    bottom: 15px;
    display: none;
    position: fixed;
    right: 30px;
    z-index: 999;
}

.go-top img {
    width: 35px;
}

.go-top span {
    /*background-color: #4285F4;*/
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    float: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 5px 10px;
}

.go-top span:hover {
    color: #fff;
}

/*===========================================================
Navigation CSS
============================================================*/
.desk-nav {
    height: 93px;
    line-height: 80px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9998;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-top: 30px;
}

.desk-nav.scrollUp {
    transform: translateY(-80px);
}

.nex-menu,
.desk-nav ul {
    margin: 0;
    padding: 3px 0;
    display: inline-block;
    float: right;
}


.nex-menu {
    display: inline-block;
}

.desk-nav ul.navbar-menu li {
    display: inline-block;
    margin: 0 10px;
}

.desk-nav ul.navbar-menu li a {
    color: #fff;
    font-size: 19px;
    display: inline-block;
    text-decoration: none;
}

.menu-space {
    margin-top: 195px;
}

.desk-nav a#brand {
    text-transform: uppercase;
    float: left;
    font-size: 20px;
}

.desk-nav button {
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    float: right;
    display: inline-block;
    cursor: pointer;
    display: none;
}

.desk-nav button span {
    width: 30px;
    height: 40px;
    height: 2px;
    background: #333;
    display: block;
    margin: 5px 0;
}

#brand {
    display: inline-block;
}

.nexmenu-reveal {
    height: 27px;
    width: 23px;
    cursor: pointer;
    z-index: 99999;
    transition: opacity .25s ease;
}

.nexmenu-reveal.nexclose {
    position: fixed;
    height: 27px;
    width: 25px;
    cursor: pointer;
    z-index: 110;
    transition: opacity .25s ease;
}

.nexmenu-reveal:hover {
    opacity: .7;
}

.nexmenu-reveal.nexclose span:nth-of-type(1) {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}

.nexmenu-reveal.nexclose span:nth-of-type(2) {
    background: #FFF;
    opacity: 0;
}

.nexmenu-reveal.nexclose span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.nexmenu-reveal span {
    background: #fff;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 12px;
    transition: all .35s ease;
    cursor: pointer;
    border-radius: 2px;
}

.nexmenu-reveal span {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 25px;
}

.nexmenu-reveal span:nth-of-type(2) {
    top: 8px;
    opacity: 1;
}

.nexmenu-reveal span:nth-of-type(3) {
    top: 16px;
}

.nexmenu-reveal.nexclose span:nth-of-type(3) {
    top: 22px;
}

.nexmenu-reveal {
    z-index: 110;
}

.nexmenu-reveal {
    width: 25px;
}

.nex-bar {
    overflow: hidden;
}

.nex-container #brand a {
    color: #fff;
    padding: 15px;
    font-size: 20px;
}

.desk-nav.darkHeader {
    background: rgba(255, 0, 76) 100%;
    padding-top: 0px;
}

.desk-nav.darkHeader #brand img {
    padding: 13px 0;
    max-width: 180px;
}

/*=========================Process Area=======================*/

.moving-btn-area {
    display: inline-block;
    margin: 20px 0;
}

.banner-text {
    max-width: 615px;
}

.banner-text h3 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 34px;
}

.select-option {
    padding-right: 15px;
}

.select-option select {
    background: transparent;
    width: 100%;
    color: #fff;
    padding: 0 15px;
    font-size: 23px;
    cursor: pointer;
    border: 1px solid #fff;
    height: 68px;
}

.select-option option {
    color: #028bce;
}

.single-form {
    display: inline-block;
    width: 290px;
    margin-right: 15px;
}

.single-form input {
    display: inline-block;
    color: #ffffff;
    width: 100%;
    font-size: 23px;
    border: 1px solid #fff;
    height: 58px;
    line-height: 59px;
    padding-left: 20px;
    background: transparent;
    padding-top: 10px;
}

.single-form ::-webkit-input-placeholder {


    color: #ffffff;

    font-size: 23px;

}

.single-form ::-moz-placeholder {


    color: #ffffff;

    font-size: 23px;

}

.single-form :-ms-input-placeholder {


    color: #ffffff;

    font-size: 23px;

}

.single-form :-moz-placeholder {


    color: #ffffff;

    font-size: 23px;

}

.get-btn {
    padding-right: 15px;
    margin-top: 20px;
}

.get-btn a {
    color: #ffffff;
    font-size: 27px;
    font-weight: 500;
    background: #e89800;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    padding-right: 15px;
}

.banner-text h6 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 20px;
    text-align: center;
}

.view-number {
    position: relative;
}

.view-number button {
    cursor: pointer;
    height: 70px;
    color: #ffffff;
    font-size: 30px;
    padding: 0 20px;
    position: absolute;
    margin-left: -3px;
    background: #e89800;
    border: 0;
}

.view-number input {
    width: 440px;
    height: 70px;
    font-size: 30px;
    padding-top: 10px;


}

.view-number ::-webkit-input-placeholder {
    color: #333333;
    font-size: 33px;
    text-align: center;
}

.view-number ::-moz-placeholder {
    color: #333333;
    font-size: 33px;
    text-align: center;
}

.view-number :-ms-input-placeholder {
    color: #333333;
    font-size: 33px;
    text-align: center;
}

.view-number :-moz-placeholder {
    color: #333333;
    font-size: 33px;
    text-align: center;
}










/*==============================Animaion Area===================*/
.banner-area {
    background: linear-gradient(90deg, rgba(237, 13, 62, 1) 0%, rgb(255, 0, 76) 100%);
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    margin-bottom: 70px;
}

.banner-gradient {}

.hero-content {
    position: relative;
    min-height: 500px;
    padding: 50px 0 250px;
}

#banner .feature-image {
    position: absolute;
    text-align: center;
    width: 100%;
    max-width: 890px;
    bottom: 30px;
    right: 0;
    z-index: 20
}

#banner .feature-image svg,
#banner .feature-image img {
    width: 100%;
    height: auto
}

#banner .feature-image svg#home_feature_main,
#banner .feature-image img#home_feature_main {
    position: relative;
    z-index: 100
}

#banner .feature-image svg#home_feature_arrows,
#banner .feature-image img#home_feature_arrows {
    position: absolute;
    max-width: 540px;
    margin: auto;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: spin 20s infinite linear;
    animation: spin 20s infinite linear
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


/*==============================Video Area===================*/




.video-area {
    background-color: rgba(92, 229, 229, 0.06);
    background-image: linear-gradient(141deg, rgba(92, 229, 229, 0.06), rgba(20, 98, 190, 0.06));
    padding: 55px 0;
    margin-bottom: 30px;
}

.video-title {
    margin-bottom: 40px;
}

.video-feature {
    position: relative;

}

.video-feature img {
    border-radius: 40px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.play-btn {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -67px;
}

/*================================Process Area===================*/
.title h2 {
    color: #ee0034;
    font-size: 37px;
}

.our-process-area {
    padding: 100px 0 130px 0;
}

.our-process-title {
    margin-bottom: 65px;
}

.single-process {
    width: 20%;
    display: inline-block;
    float: left;
}

.single-process-text h3 {
    color: #000000;
    font-size: 27px;
    text-align: center;
}

.single-process-img {
    height: 200px;
}

.moving-inner {
    overflow: hidden;
    background: #e5e5e5;
}


.moving-left {
    padding: 150px 35px 70px 35px;
    width: 60%;
    display: inline-block;
    float: left;
    background: #ee0034;
}

.moving-right {
    width: 40%;
    display: inline-block;
    max-height: 362px;
}

.moving-left-inner {}

.company-logo {
    position: absolute;
    left: -50px;
    top: -80px;
}

.moving-left-inner h3 {
    color: #ffffff;
    font-size: 44px;
}

.moving-left-inner h4 {
    color: #ffffff;
    font-size: 31px;
}

.moving-left-inner p {
    color: #ffffff;
    font-size: 28px;
}

.moving-right-inner {
    position: absolute;
    bottom: 50px;
    padding: 0 40px;
}


.single-counter {
    text-align: center;
}

.single-counter-text h1 {
    color: #ee0034;
    font-size: 62px;
}

.single-counter-text h5 {
    color: #191919;
    font-size: 29px;
}

.counter-area {
    padding-top: 80px;
    padding-bottom: 100px;
}

.team-slider-area {
    padding: 0 120px;
}

.team-slider {
    padding: 0 7px;
}

.team-slider img {
    width: 100%;
}

.team-slider a {
    text-align: center;
    position: relative;
    background: rgba(84, 67, 61, .8);
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    bottom: 50px;
    display: block;
}

.team-area {
    background: #fff;
}

.get-quote-area,
.testimonial-area {
    background: #f9f9f9;
    padding-top: 70px;
    padding-bottom: 70px;
}

.test-title {
    margin-bottom: 50px;
}

.test-slider-area {
    max-width: 95%;
    margin: auto;
}

.test-slider-inner {
    margin: 0 15px;
    background: #ee0034;
}

.test-slider-inner h2 {
    color: #ffffff;
    font-size: 24px;
    background: #ec3a61;
    margin: 0;
    padding: 10px 0;
}

.test-slider-inner p {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    padding: 10px 35px;
}

.test-slider-inner h2 {}

.star {
    margin: 15px 0;
}

.star span {
    display: inline-block;
}

.team-title {
    margin-bottom: 30px;
}

.team-title h6 {
    color: #000000;
    font-size: 21px;
}

/*================================Tabs Area========================*/
.tabbable-panel {
    border: 0;
    padding: 10px;
}

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
    text-align: center;
}

.tabbable-line>.nav-tabs>li {
    width: 25%;
}

.tabbable-line>.nav-tabs>li>a {
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    border: 0;
    margin-right: 0;
    text-transform: uppercase;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>li:hover {
    border-bottom: 4px solid #028bce;
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}


.tabbable-line>.nav-tabs>li:hover,
.tabbable-line>.nav-tabs>li.active {
    border-bottom: 0 solid #028bce;
    position: relative;
}

.tabbable-line>.nav-tabs>li a {
    padding: 25px 0;
    display: block;
    border-bottom: 13px solid #e5e5e5;
}

.tabbable-line>.nav-tabs>li a {
    border-right: 1px solid #f9f9f9;
}

.tabbable-line>.nav-tabs>li:hover a,
.tabbable-line>.nav-tabs>li a.active {
    border-bottom: 13px solid #028bce;
}

.form-control:focus {
    box-shadow: unset;
}

.tab-content {
    padding: 0 100px;
}

.tab-content .col {
    margin-bottom: 20px;
}

.tab-content input {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 50px;
}

.tab-content label {
    color: #666666;
    font-size: 21px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.tab-content {
    padding-top: 50px;
    background: #fff;
    padding-bottom: 32px;
}

.tab-content .moving-to .width-auto {
    width: calc(100% - 250px);
    float: left;
}

.tab-content .moving-to .width-250 {
    width: 250px;
    float: left;
}

.tab-content .moving-from .width-250 {
    width: 250px;
    float: left;
}

.tab-content select {
    padding-left: 15px;
    border: 1px solid #ddd;
    background: url("../img/arrow-select-small.png");
    background-repeat: no-repeat;
    background-position: 98% 18px;
    width: 100%;
    height: 50px;

    color: #7f7f7f;
    font-size: 15px;
    font-weight: 300;
}

.border-right-0 select {
    border-right: 0;
}

.border-left-0 select {
    border-left: 0;
}

.width-equal {
    width: 33.33%;
    float: left;
}

.submit-btn {
    margin-top: 20px;
}

.nav-tabs {
    border: 0;
}

.goto-tab-2 {}

.submit-btn {
    overflow: hidden;
    clear: both;
}

.submit-btn-left {
    display: block;
    width: 50%;
    float: left;
}

.submit-btn-right.nav.nav-tabs {
    display: block;
    width: 50%;
    float: right;
}

.submit-btn button {
    width: 203px;
    line-height: 50px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #028bce;
}


.awsome-area {
    background: #028bce;
    padding: 40px 0;
}

.awsome-area h4 {
    color: #ffffff;
    font-size: 47px;
    font-weight: 500;
    margin-top: 20px;
}

.finish-tab {
    background: #e5e5e5;
    padding-bottom: 46px;
}

.processed-area {
    padding-top: 50px;
}

.processed-area h2 {
    color: #000000;
    margin-bottom: 25px;
    font-size: 47px;
}

.processed-area h4 {
    color: #000000;
    font-size: 37px;
    margin-bottom: 7px;
}

.processed-area p {
    color: #333333;
    font-size: 29px;
    margin-bottom: 35px;
}

.processed-area a {
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    background: #028bce;
    padding: 25px 90px;
}

.single-required {
    overflow: hidden;
    clear: both;
}

.single-required label {
    color: #191919;
    font-size: 19px;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.single-required input {
    height: auto;
}

.single-required {
    margin-bottom: 25px;
}

.referr-form {
    margin-top: 30px;
}

.referr-form input {
    width: 235px;
    height: 38px;
    padding: 0 10px;
}

.referr-form span {
    color: #999999;
    font-size: 19px;
    margin-left: 14px;
}

.text-area {
    margin: 40px 0;

}

.text-area .form-group textarea {
    height: 165px !important;
    resize: none;
    border-radius: 0;
}

.single-inven {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    padding: 12px 0;
}

.single-inven input {
    height: auto;
}

.single-inven label {
    color: #191919;
    font-size: 19px;
    margin-left: 15px;
    margin-bottom: 0;
}

.pd0 {
    padding: 0;
}

.gray-bg {
    background: #028bce;
}

.nav-pills .nav-link {
    color: #fff;
    color: #ffffff;
    font-size: 21px;
}

.pdl-0 {
    padding-left: 0;
}

.single-inven-inner {
    padding-left: 100px;
}

/*================================Logos Area========================*/
.logos-area {
    padding-top: 80px;
    padding-bottom: 120px;
}

.logos-title {
    margin-bottom: 60px;
}

.logo-slider-area .slick-arrow {
    margin-top: -20px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    z-index: 999;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.test-slider .slick-arrow {
    margin-top: -20px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    z-index: 999;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-arrow img {
    width: 50%;
}

.logo-slider-area .slick-right {
    right: 70px;
}

.logo-slider-area .slick-left {
    left: 70px;
}

.logos-slider .slick-right {
    right: -50px;
}

.logos-slider .slick-left {
    left: -100px;
}


.test-slider .slick-right {
    right: -50px;
}

.test-slider .slick-left {
    left: -50px;
}

#datepicker {
    color: #999999;
    font-size: 19px;
    width: 200px;

    text-align: center;
}

.date-picker span {
    color: #191919;
    font-size: 19px;
    margin-right: 16px;

}

.date-picker img {
    background: #028bce;
    padding: 7px;
    margin-left: -35px;
}

/*======================================Service Area======================*/
.service-area {
    padding-top: 70px;
}

.service-title {
    margin-bottom: 40px;
}

.service-text h2 {
    color: #ffffff;
    font-size: 37px;
    margin-bottom: 20px;
}

.service-text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    margin: 0;
}

.posr {
    position: relative;
    background: #ee0034;
}

.contact-brand-right-inner,
.contact-brand-left-inner {
    display: flex;
    justify-content: center;
    align-self: center;
}

.contact-brand-right,
.contact-brand-left {
    padding: 100px 110px;
    position: relative;
    z-index: 10;
    min-height: 630px;
    display: table;
    width: 100%;
}

.service-text {
    display: table-cell;
    vertical-align: middle;
}



.brand-area-2:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    content: '';
    background-image: url(../images/person1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.brand-area-4:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    content: '';
    background-image: url(../images/estates.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.brand-area-3:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    content: '';
    background-image: url(../images/courier3e.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.blue-bg {
    background: #592020;
}

.brand-area:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    content: '';
    background-image: url(../images/courier1e.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.started-area {
    padding: 90px 0;
}

.started-text a {
    color: #ffffff;
    font-size: 37px;
    font-weight: 500;
    background: #dc3545;
    margin: 0;
    padding: 10px 60px;
    display: inline-block;
}

.started-text h6 {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

/*=================================Touch Area===================*/
.touch-area {
    padding-top: 80px;
    padding-bottom: 90px;

}

.touch-inner-left {
    max-width: 70%;
    display: inline-block;
    float: left;
    padding-right: 60px;
}

.touch-inner-right {
    display: inline-block;
    float: right;
    margin-top: 40px;
}

.touch-inner-left p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.touch-inner-right img {
    margin-bottom: 20px;
}

.touch-inner-right h2 {
    color: #00a5f5;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 70px;
}

.touch-inner-right h4 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}

.touch-inner-right a {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}

.social-icon {
    text-align: center;
    margin-top: 40px;
}

.social-icon a {
    margin: 0 10px;
}

.single-process-img {
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.single-process-img img {
    position: absolute;
    bottom: 0;
}

/*Tabs*/
.single-inventoryinner {
    width: calc(100% - 55px);
    float: left;
}

.single-inventory-right select {
    background-image: url("../img/arrow-smallest.png");
    background-repeat: no-repeat;
    background-position: 92% 11px;
    height: 28px;
}

.single-required,
.single-inventoryinner {
    position: relative;
}

.single-inventoryinner label {
    color: #191919;
    font-size: 19px;
    font-weight: 500;
}

.single-required label,
.single-inventoryinner label {
    margin-bottom: 0;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    padding-left: 25px;
}

.single-required input,
.single-inventoryinner input {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.single-inventory-right {
    width: 50px;
    float: right;
}

.single-inventory {
    overflow: hidden;
    clear: both;
    padding-left: 100px;
}

.single-inventory select {
    line-height: 28px;
}

.single-inventory {
    border-top: 1px solid #ddd;
    padding-top: 13px;
    padding-bottom: 10px;
}

.inner-tab-content {
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #016494;
}

.move-living {
    background: #e5e5e5;
    padding-left: 130px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
}

.move-living select {
    background: #fff url("../img/arrow-select-small.png");
    background-repeat: no-repeat;
    max-width: 770px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-position: 98% 14px;
}

.additional-item {
    margin-top: 50px;
    text-align: center;
}

.additional-item input {
    padding-left: 50px;
    max-width: 1066px;
    width: 100%;
    background: #ededed;
    line-height: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

.fade:not(.show) {
    opacity: 0;
    height: 0;
}

/*datepicker*/
#datepicker {
    height: 37px;
}

.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: #78909C;
}

.ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
}

.ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #546E7A;
    font-size: 0.875rem;
    text-decoration: none;
}

.ui-datepicker-calendar tbody td a:hover {
    background-color: #E0F2F1;
}

.ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #009688;
    color: white;
}

.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
}

.ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1;
}

.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
}

.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
}

.ui-datepicker-header a>span {
    display: none;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 0.75rem;
}

.ui-datepicker-calendar {
    background: #fff;
}

#ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}


@media (min-width: 1600px) {
    .container {
        max-width: 1570px;
    }
}

@media only screen and (max-width: 600px) {
    #quote-form {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .our-process-title h2 {
        text-align: center;
    }
}